*{
    margin: 0;
    padding: 0;
}

.box{
    height: 76px;
    width: 76px;  
    position: relative; 
}
.top-corner{
    padding: 1px;
    position: absolute;
}
.bottom-corner{
    padding: 1px;
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.white{
    background-color: #eaead2;
    /*background-color: #4b7299; */
    color: #4b7299;
}

.black{    
    background-color: #4b7299; 
    color: #eaead2;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
}

.chess-board{
    width: 608px;
    height: 608px;
    display: grid;
    grid-template-columns:repeat(8,1fr);
    grid-template-rows:repeat(8,1fr);
}

.piece {
    color: black;
    text-align:center;
    font-size:50px;
}

.highlight {
    background-color: yellow;
}

/*.wp {*/
/*    color: white;*/
/*}*/

.w {
    color: white
}

.b {
    color: black
}
